*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
.header .header-center{
    margin: 0 auto;
    list-style: none;
    display:flex;
}

.header .menu{
    margin-top: 25px;
    list-style: none;
    display:flex;
    text-align: center;
    color: #fff;
    font-size: 14px
}

.header .menu li {
    margin: 10px;
    text-transform:uppercase;
    font-weight: 500;
    transition: 0.3s;
}
.header .menu a{
    display: block;
    text-align: center;
    text-decoration: none;
}
.header .menu li:hover{
    color:rgb(27, 164, 206);
    cursor: pointer;
}
.header #open_Menu{
    display:none;

}

.icon-menu{
    margin-left: 10px;
}
#menuMobile{
    display:none;
}
#close_Menu{
    display:none;
}
.text-box{
    color: #fff;
    margin: 0 auto;
    position: absolute;
    display: flex;
    left:35%;
    justify-content: center;
    border-radius: 3px;
    bottom: 20%;
    padding:10px;
    background-color:rgb(255, 149, 10);
}
.text-box .btn{
    font-family: 'Cabin';
    color: #fff;
    padding: 5px 20px;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s;
}
@media (max-width: 640px) 
{ 
    .header{
        background: #15939a;
        display:flex;
        width: 100%;
        position:relative;

    }
    .header .menu{
        display:none;
    } 
    .logo img{
        height:35px;
        width:55px;
        margin-top: 10px;
        margin-left: -25px;
    }
    .icon-menu{
        font-size:25px;
        color: #fff;

    }
    .header #open_Menu{
        display:block;

    }
    #menuMobile{
        display:none;
        left:0;
        margin-top: 9px;
        position:absolute;
        font-size:14px;
        width: 100%;
        background-color: #fff;
    }
    #menuMobile li{
        /* border: 0.5px solid #fff; */
        list-style: none;
        color: #15939a;
        padding: 15px 23px;
        background-color: #fff;
        text-transform: uppercase;
        font-weight: 500;


    }
    #menuMobile li:hover{
        background-color: #15939a;
        color: #111;

    }
    #close_Menu{
        display:none;
    }
    .text-box{
        left: 5%;
        bottom: 40%;
    }
    .text-box .btn{
        font-size: 15px;
    }
} 
/* --------Slidebar------------------------------*/ 
.slide-show{
    overflow: hidden;

    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 100%;
    height: 100%;    
    /* overflow: hidden; */
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slides input{
    display:none;
}
.slide{
    width:20%;
    transition:2s;
}
.slide img{
    width: 100%;
    height:100%;

}
@media(max-width:630px){
    .slide img{
        object-fit: cover;

    }
     
}
/* css for maunal slide navigation */
.navigation-manual{
    position: absolute;
    width:800px;
    margin-top:-40px;
    display: flex;
    left: 45%;
}
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    transition:1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/* css for automatic navigation */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    left: 45%;
    margin-top: 920px;
}
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding:5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC
}
@media (max-width: 640px) {
    .navigation-manual{
        left: 35%;
    }
    .manual-btn:not(:last-child){
        margin-right: 20px;
    }
    .navigation-auto
    {
        left: 35%;
        margin-top: 740px;
    }
    .navigation-auto div:not(:last-child){
        margin-right: 20px;
    }
    
}
/* ----------Successful Storeis-------- */
/* .responsive-image{
    width: 100%;
    height: auto;
} */
.successful-stories{
    margin-top: 50px;
    text-align: center;
}
.successful-stories p{
    margin-top: 10px;

}
.successful-contents{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.successful-content{
    width: 270px;
    border:1px solid #111;
}
.successful-content img{
    width: 100%;
    height:100%
}
.successful-content + .successful-content{
    margin-left: 30px;
}
@media (max-width: 640px) {
    .successful-contents{
        flex-direction: column;
        justify-content: center;

    }
     
}


